<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<link href="style_scoreboard.css" rel="stylesheet">
<link href="quest_list.css" rel="stylesheet">

<div class="hud_all">
<div class="container" id="app">
    <div class="leaders">
        <h2>PoolCup 2022</h2>
        <ul>
            <li v-for="(cat, i) in topThreeCats">
                <div class="lead-cats">
                    <img class="lead-cats__photo" :src="`assets/${cat.photo}`" :class="{ active: cat.name === newLeader }">
                    <div class="podium" :class="`pod-${i + 1}`">
                        <div class="ranking-lead" :style="{ backgroundColor: catRank[i].c }">{{ catRank[i].r + 1 }}</div>
                        <h4>{{ cat.name }}</h4>
                        <p>{{ cat.points }} points</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="board">
        <h2>The Lordzzzz :</h2>
        
        <transition-group name="slide" tag="ul" appear>
            <cat-list-item v-for="(cat, i) in allCats" :cat="cat" :rank="i" :key="cat.name">
            </cat-list-item>
        </transition-group>
        
    </div>
</div>
<div class="container_main" >
    <div class="leaders">
        <h2>Quest History</h2>

    </div>
    
    <div class="quest_list board_main">
        <div class="container_table_nancy_superieur_a_all">
            <table class="table-fill table-inside">
                <thead>
                <tr>
                <th class="text-left">Quête</th>
                <th class="text-left">Points</th>
                <th class="text-left">Par</th>
                <th class="text-left">Êquipe</th>
                </tr>
                </thead>
                <tbody class="table-hover table_body">
                <tr>
                <td class="text-left">January</td>
                <td class="text-left">$ 50,000.00</td>
                <td class="text-left">gato papa maman</td>
                <td class="text-left">Star citizen</td>
                </tr>
                <tr>
                <td class="text-left">January</td>
                <td class="text-left">$ 50,000.00</td>
                <td class="text-left">gato papa maman</td>
                <td class="text-left">Star citizen</td>
                </tr>
                <tr>
                <td class="text-left">January</td>
                <td class="text-left">$ 50,000.00</td>
                <td class="text-left">gato papa maman</td>
                <td class="text-left">Star citizen</td>
                </tr>
                <tr>
                <td class="text-left">January</td>
                <td class="text-left">$ 50,000.00</td>
                <td class="text-left">gato papa maman</td>
                <td class="text-left">Star citizen</td>
                </tr>
                <tr>
                <td class="text-left">January</td>
                <td class="text-left">$ 50,000.00</td>
                <td class="text-left">gato papa maman</td>
                <td class="text-left">Star citizen</td>
                </tr>
                <tr>
                    <td class="text-left">January</td>
                    <td class="text-left">$ 50,000.00</td>
                    <td class="text-left">gato papa maman</td>
                    <td class="text-left">Star citizen</td>
                    </tr>
                    <tr>
                    <td class="text-left">January</td>
                    <td class="text-left">$ 50,000.00</td>
                    <td class="text-left">gato papa maman</td>
                    <td class="text-left">Star citizen</td>
                    </tr>
                    <tr>
                    <td class="text-left">January</td>
                    <td class="text-left">$ 50,000.00</td>
                    <td class="text-left">gato papa maman</td>
                    <td class="text-left">Star citizen</td>
                    </tr>
                    <tr>
                    <td class="text-left">January</td>
                    <td class="text-left">$ 50,000.00</td>
                    <td class="text-left">gato papa maman</td>
                    <td class="text-left">Star citizen</td>
                    </tr>
                    <tr>
                    <td class="text-left">January</td>
                    <td class="text-left">$ 50,000.00</td>
                    <td class="text-left">gato papa maman</td>
                    <td class="text-left">Star citizen</td>
                    </tr>
                    <tr>
                        <td class="text-left">January</td>
                        <td class="text-left">$ 50,000.00</td>
                        <td class="text-left">gato papa maman</td>
                        <td class="text-left">Star citizen</td>
                        </tr>
                        <tr>
                        <td class="text-left">January</td>
                        <td class="text-left">$ 50,000.00</td>
                        <td class="text-left">gato papa maman</td>
                        <td class="text-left">Star citizen</td>
                        </tr>
                        <tr>
                        <td class="text-left">January</td>
                        <td class="text-left">$ 50,000.00</td>
                        <td class="text-left">gato papa maman</td>
                        <td class="text-left">Star citizen</td>
                        </tr>
                        <tr>
                        <td class="text-left">January</td>
                        <td class="text-left">$ 50,000.00</td>
                        <td class="text-left">gato papa maman</td>
                        <td class="text-left">Star citizen</td>
                        </tr>
                        <tr>
                        <td class="text-left">January</td>
                        <td class="text-left">$ 50,000.00</td>
                        <td class="text-left">gato papa maman</td>
                        <td class="text-left">Star citizen</td>
                        </tr>
                </tbody>
                </table>
          </div>
    </div>

<template id="cat-list-item">
    <li class="cat-item">
        <div class="cat-item__photo">
            <div class="ranking" :style="{ backgroundColor: colorOrder }">{{ rankOrder }}</div>
            <img :src="`assets/${cat.photo}`">
        </div>
        <div class="cat-item__info">
            <h4>{{ cat.name }}</h4>
        </div>
        <div class="cat-item__points">
            <img src="https://www.sicontis.com/codepen/cpc-rising/chevron.svg" @click="pointIncrement">
            <p>{{ cat.points }}</p>
            <img src="https://www.sicontis.com/codepen/cpc-rising/chevron.svg" @click="pointDecrement">
        </div>
        
    </li>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./scoreboard.js"></script>